<div>
    <div class="uk-height-large uk-background-cover uk-light uk-flex" 
                  uk-parallax="bgy: -300"
                  style = "background-image: url('./assets/images/spearfish.jpeg'); height:250px">
            <h1 class="header-section uk-width-1-1@m uk-text-center uk-margin-auto uk-margin-auto-vertical">ABOUT</h1>
    </div>
    <br>
    <div class="uk-container">
        <br>
        <p>Currently live in Lester, IA with two beautiful girls, my wife, and dog. </p>
        <h2>Connect</h2>
        <ul class="uk-list uk-list-striped">
            <li>
                <a href='mailto: trevor.arnold@arnoldtechnologies.dev' target='_blank'><span uk-icon="icon: mail; ratio: 4"></span></a> | <a href='mailto: trevor.arnold@arnoldtechnologies.dev' target='_blank'>trevor.arnold@arnoldtechnologies.dev</a>
            </li>
            <li>
                <a href='https://www.linkedin.com/in/trevorarnold/' target='_blank'><img class="contact-logo" src="./assets/images/LI-In-Bug.png"></a> | <a href='https://www.linkedin.com/in/trevorarnold/' target='_blank'>https://www.linkedin.com/in/trevorarnold/</a>
            </li>
            <li>
                <a href='https://twitter.com/TrevorArnold9' target='_blank'><img class="contact-logo" src="./assets/images/Twitter social icons - circle - blue.png"></a> | <a href='https://twitter.com/TrevorArnold9' target='_blank'>https://twitter.com/TrevorArnold9</a>
            </li>
            <li>
                <a href='https://github.com/tlarnold10' target='_blank'><img class="contact-logo" src="./assets/images/github-mark.png"></a> | <a href='https://github.com/tlarnold10' target='_blank'>http://github.com/tlarnold10</a>
            </li>
            <li>
                <a href='https://trevorarnold.substack.com/' target='_blank'><img class="contact-logo" src="./assets/images/substack.png"></a> | <a href='https://trevorarnold.substack.com/' target='_blank'>https://trevorarnold.substack.com/</a>
            </li>
        </ul> 
    </div>
    <br>
    <hr class="uk-divider-icon">
    <br>
    <div class="uk-container">
        <h2>Personality</h2>
        <p>I have enjoyed better understanding myself, and what better way to do that than with a personality assessment?!?</p>
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Assessment</th>
                    <th>My Results</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Enneagram</td>
                    <td>Type 3 (Wing 4)</td>
                </tr>
                <tr>
                    <td>Myers Briggs (MBTI)</td>
                    <td>ENTJ (Extraverted, Intuitive, Thinking, Judging)</td>
                </tr>
                <tr>
                    <td>* Strengths Finder</td>
                    <td>
                        <ol>
                            <li>Significance</li>
                            <li>Focus</li>
                            <li>Learner</li>
                            <li>Command</li>
                            <li>Self-Assurance</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>* High 5 Strengths</td>
                    <td>
                        <ol>
                            <li>Problem Solver</li>
                            <li>Catalyst</li>
                            <li>Strategist</li>
                            <li>Deliverer</li>
                            <li>Focus Expert</li>
                        </ol>
                    </td>
                </tr>
            </tbody>
            <caption>* Personally thought the High 5 Strenghts were more accurate than Strengths Finder</caption>
        </table>
        <br>
        <p>
            To get to know me even better (creeper!), head over to my GitHub README.md file: <a href="https://github.com/tlarnold10" target="_blank">https://github.com/tlarnold10</a>
        </p>
        <br>
    </div>
    <br>
</div>