<div>
    <div class="uk-height-large uk-background-cover uk-light uk-flex" 
                  uk-parallax="bgy: -400"
                  style = "background-image:url('./assets/images/keyboard.jpeg'); height:350px">
            <h1 class="header-section uk-width-1-1@m uk-text-center uk-margin-auto uk-margin-auto-vertical">PROJECTS</h1>
          </div>
    <div class="uk-container">
        <br>
        <p>Been working on many different side projects in my spare time, usually when the baby is sleeping.
            All of these can be found on my <a href="https://github.com/tlarnold10">Github repository.</a></p> 
    </div>
    <br>
    <br>
    <br>
</div>