<div class="uk-container">
    <div *ngFor="let blog of blogs">
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
            <img src="{{ blog.headerImage }}" style="width:100%">
            <h2>{{ blog.title }}</h2>
            <h5><em>By: Trevor Arnold @ {{ blog.publishDate }}</em></h5>
            <div *ngFor="let p of blog.content.split('\n')">
                <p>
                    {{ p }}
                </p>
            </div>
        </div>
        <br>
    </div>
</div>