<div>
    <div class="uk-height-large uk-background-cover uk-light uk-flex" 
                  uk-parallax="bgy: -400"
                  style = "background-image:url(./assets/images/ocean.jpg); height:350px">
            <h1 class="uk-width-1-1@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Professional Experience</h1>
          </div>
    <div class="uk-container">
        <br>
        <p>I've done some shit, even at a young age.</p>
        <ul class="uk-list uk-list-striped">
            <li *ngFor="let experience of experiences">{{ experience }}</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
</div>